* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: lavender;
}
main img {
  /* box-shadow: 5px 5px; */
  border-radius: 5em;
  box-shadow: 0.2em 0.2em;
}
header {
  background-color: aquamarine;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
h1 {
  text-transform: uppercase;
}
footer{
  background-color: aquamarine;
  padding: 20px 50px;
}

.about {
  text-align: center;
  padding: 20px 50px;
}
.articles {
  padding: 20px 50px;
  background-color: azure;
}
.text {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
nav{
  padding: 10px 50px;
}
ul{
  list-style: none;
}
nav li{
  display: inline-block;
  margin: 10px;
}
.content{
  padding: 20px 50px;
}
dd{
  text-indent: 1em;
}